.main {
  padding: 105px 110px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.main__content {
  margin: 20px;
  max-width: 700px;
}

.main__title {
  font-family: 'Tungsten';
  font-size: 90px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #242525;
}

.main__description {
  height: 80px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.44;
  letter-spacing: normal;
  color: #9b9b9c;
}

.main__image {
  margin: 120px 0 0;
  width: 100%;
  height: 100%;
}


