@font-face {
    font-family: "Open Sans";
    src: url("./OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Tungsten";
    src: url("./Tungsten-Bold.ttf") format("truetype");
    font-weight: bold;
}