.footer{
    color: #9b9b9c;
    padding: 5vh 8vw;
    position: sticky;
    background-color: #fff;
    right: 0;
    bottom: 0;
}
.footer__content{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.footer__item{
    margin: 0 40px 0;
}
.footer__item:last-of-type{
    margin: 0;
}

@media screen and (max-width: 630px) {
    .footer{
        padding: 5vh 5vh;
    }
    .footer__content{
        flex-direction: column-reverse;
        align-content: flex-start;
        
    }
    .footer__item{
        text-align: end;
    }
    .footer__item:last-of-type{
        margin: 0 40px 0;
    }
    
}