.footer{
    color: #9b9b9c;
    padding: 0 100px 30px;
    background-color: #fff;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.footer__content{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.footer__item{
    margin: 0 40px 0;
}
.foot__copy {
    align-self: flex-start;
}
.footer__item:last-of-type{
    margin: 0;
}
/*Do need to figure out point where content has issues of being blocked to change to sticky or static*/
@media screen and (max-width: 1000px) {
    .footer{
        padding: 0 50px;
    }
}
@media screen and (max-width: 630px) {
    .footer{
        padding: 0 18px;
    }
    .footer__content{
        flex-direction: column-reverse;
        align-content: flex-start;
        
    }
    .footer__item{
        text-align: end;
    }
    .footer__item:last-of-type{
        margin: 0 40px 0;
    }
    
}