.search {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 65px;
  border-radius: 5px;
  background-color: #f2f2f6;
  width: 100%;
  margin: 70px 0 35px 0;
}


.search__input {
  width: 100%;
  background-color: #f2f2f6;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #767676;
  border: none;
  outline: none;
}

